/* Font */

@font-face {
    font-family: 'optimus regular';
    src: url('fonts/optimusprinceps-webfont.woff2') format('woff2'),
        url('fonts/optimusprinceps-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'optimus bold';
    src: url('fonts/optimusprincepssemibold-webfont.woff2') format('woff2'),
        url('fonts/optimusprincepssemibold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

/* Index - Background do Index */

/* body{
    background-color: black;
} */

/* Index - Container Sobre Mim */

body .containerSobreMim{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: 500px;
    font-family: 'optimus regular';
    font-size: large;
    text-align: center;
    border: 1px solid red;
}

/* Index - Título */

body .containerSobreMim .tituloSobreMim{
    font-family: 'optimus bold';
    color: gold;
}